/* ================================
   RESET
================================ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* ================================
   VARIÁVEIS
================================ */

:root {

    /* Cores principais */
    --cor-principal: #FF0000;
    --cor-hover: #CC0000;
    --cor-ativa: #990000;
    --cor-clara: #FF3333;

    /* Cores gerais */
    --cor-fundo: #FFFFFF;
    --cor-texto: #111111;
    --cor-secundaria: #666666;
    --cor-borda: #DDDDDD;

    /* Efeitos */
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}