.divider {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--cor-texto);
    margin: 18px 0;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 2px;
    background-color: var(--cor-secundaria);
    transform: translateY(-50%);
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}