<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/esqueceu_senha.css">
    <title>Esqueci minha senha - Gestão de salas e equipamentos</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="/static/assets/img/Logo senai.png">
        </div>
        <div class="hr"></div>
        <div class="links">

            <p>Redefinir senha</p>

            <p> Gestão de salas e equipamentos </p>


        </div>
        <div class="hr"></div>
        <div class="form-container">
            <h2>Informe o e-mail para redefinir sua senha.</h2>

            <form action="/templates/redefsenha.html">
            <div class="input-container">
                <i class="bi bi-envelope"></i>
                <input type="email" placeholder="Email..." required>
            </div>
            <button type="submit">Enviar e-mail</button>
        </form>


            <div class="links">
                <p><a href="/templates/login.html">Voltar ao login</a></p>
            </div>
        </div>
    </div>
</body>
</html>