<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/redefsenha.css">
    <title>Redefinir Senha - Gestão de salas e equipamentos</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="/assets/img/Logo senai.png" alt="Logo SENAI">
        </div>
        <div class="hr"></div>
        <div class="form-container">
            <h2>Enviamos um código de verificação para seu e-mail.</h2>
            <h2 class="ex-email">exemplo@gmail.com</h2>
            <div class="hr"></div>
            
            <form action="/" method="GET">
                <div class="input-container">
                    <input type="text" placeholder="0 0 0 0 0 0" maxlength="6" required>
                </div>
                <button type="submit">Enviar código</button>
            </form>
        </div>
        <a class="links" href="/">Voltar ao login</a>
    </div>
</body>
</html>